@{
    Layout = "~/Views/Shared/_HeaderPanel.cshtml";
    ViewBag.Title = "Delete User Confirmation";
}

<div class="sb2-2-2">
    <ul>
        <li>
            <a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
            <a href="#"> Delete User Confirmation</a>
        </li>
        <li class="page-back">
            <a href="@Url.Action("Users", "Admins")"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
        </li>
    </ul>
</div>

<!--== Confirmation Message ==-->
<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                <div class="inn-title">
                    <h4>User Deleted Successfully</h4>
                </div>
                <div class="tab-inn">
                    <div class="alert alert-success">
                        <strong>Success!</strong> The user has been deleted successfully.
                    </div>
                    <div class="form-actions no-color">
                        <a href="@Url.Action("Users", "Admins")" class="btn btn-default">Back to Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>